body{
		
}


#menu{
	width:960px;
	height:550px;
	margin:0 auto;
	background-image:url(../images/menuimg.jpg);
}
#ana{
	width:960px;
	height:2000px;
	margin:0 auto;
}
#hasa{
	width:960px;
	height:630px;
	margin:0 auto;
	background-image:url(../images/hasa.jpg);
	opacity: 0.9;
}
#zemin{
	width:860px;
	height:550px;
	background-color:white;
	opacity: 0.6;
	float:left;
	margin-left:50px;
	margin-top:50px;
}
.isim{
	width:860px;
	height:80px;
	color:black;
	float:left;
	font-size:72px;
	margin-left:55px;
	margin-top:70px;
}

.yazi{
	width:730px;
	height:45px;
	color:black;
	float:left;
	font-size:15px;
	margin-left:75px;
	margin-top:25px;
	
}
#yazidik{
	width:310px;
	height:200px;
	color:black;
	float:left;
	font-size:15px;
	margin-left:50px;
	margin-top:25px;
	
}
#foto1{
	width:310px;
	height:200px;
	color:black;
	float:left;
	font-size:12px;
	margin-left:120px;
	margin-top:25px;
	
}
#hasa1{
	width:960px;
	height:1500px;
	margin:0 auto;
	float:left;
	background-image:url(../images/hasa1.jpg);
	
}
#zemin1{
	width:860px;
	height:250px;
	background-color:white;
	opacity: 0.6;
	float:left;
	margin-left:50px;
	margin-top:50px;
}
#odul{
	width:785px;
	height:150px;
	float:left;
	margin-left:45px;
	margin-top:50px;
}
#zemin2{
	width:860px;
	height:415px;
	background-color:white;
	opacity: 0.6;
	float:left;
	margin-left:50px;
	margin-top:50px;
}
#zemin2s{
	width:860px;
	height:415px;
	background-color:white;
	opacity: 0.6;
	float:left;
	margin-left:50px;
	margin-top:50px;
}
#foto2{
	width:310px;
	height:200px;
	color:black;
	float:left;
	font-size:12px;
	margin-left:12px;
	margin-top:45px;
	
}
#foto3{
	width:310px;
	height:200px;
	color:black;
	float:left;
	font-size:12px;
	margin-left:115px;
	margin-top:45px;
}
#zemin3{
	width:860px;
	height:631px;
	background-color:white;
	opacity: 0.6;
	float:left;
	margin-left:50px;
	margin-top:50px;
}
.rop{
	width:860px;
	height:80px;
	color:black;
	font-size:50px;
	margin-top:90px;
}
.ropyazi{
	width:730px;
	height:45px;
	color:black;
	float:left;
	font-size:15px;
	margin-left:75px;
	margin-top:25px;
	
}
.ropyazi1{
	width:730px;
	height:45px;
	color:black;
	float:left;
	font-size:15px;
	margin-left:75px;
	margin-top:50px;
	
}
#foto4{
	width:250px;
	height:190px;
	color:black;
	float:left;
	margin-left:230px;
	margin-top:85px;
	font-size:20px;
}
.syazi{
	width:730px;
	height:45px;
	color:black;
	float:left;
	font-size:20px;
	margin-left:110px;
	margin-top:5px;
	
}
#MenuSecenek4{
margin-top:45px;
padding:0;
}
.menuSecenek{
list-style-type:none;
margin-top:40px;
float:left;
color:black;
padding-left:70px;
font-size:30px;
margin-left:25px;
}